<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JADE_Controller_Agent/src/org/simulationsystems/csf/distsys/mas/adapter/runners/jade/JADE_Controller_Agent.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.simulationsystems.csf.distsys.mas.adapter.runners.jade.JADE_Controller_Agent"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="PlaceholderConfigurationFile"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JADE_Controller_Agent"/>
</launchConfiguration>
